body {
    background-color: grey;
    font-family: 'Smythe', cursive;
}

header {
    background-image: url("../img/burger.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px;
    width: 600px;
    height: 164px;
    margin: 0 auto;
}

.main-header {
    font-family: 'Smythe', cursive;
    font-size: 36px;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
    /* padding: 25px; */
}

.main-paragraph {
    font-family: 'Smythe', cursive;
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
    padding-left: 25px;
}

/* main {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 620px;
    margin: 0 auto;
    height: 708px;
} */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 708px;
}

.menu-item {
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    width: 508px;
    height:140px;
    justify-content: space-between;
    align-items: center;
}



.menu-item h1 {
    font-size: 64px;
    margin-left: 20px;
}

.menu-item h2 {
    font-size: 28px;
    font-weight: regular;
}

.menu-ingredients {
    color: #8B8B8B;
    font-size: 16px;

}

.menu-price {
    font-size: 20px;
    font-weight: bold;
}

.menu-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.order-btn {
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

